:root {
    --white-color: #B3B3B3;
    --black-color: #040404;
    --green-color: #1DB954;
    --dark-grey-color: #1C1D23;
    --mid-grey-color: #282828;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--white-color);
    font-size: 0.9rem;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--dark-grey-color);
  }
  ::-webkit-scrollbar-thumb {
    background: #404040;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #545454;
  }

/*auxiliary styles*/

.green-color {
    color: var(--green-color);
}

.display-none {
    display: none;
}


.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    grid-template-columns: 1fr 2fr;
    overflow-y: auto;
}

/* Left Sidebar */

.left-sidebar {
    flex: 1;
    padding: 2rem;
    height: 100vh;
    background-color: var(--black-color);
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}
.upper-container {
    flex: 0 0 auto;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid var(--mid-grey-color);
}
.sidebar-main-menu {
    list-style: none;
    padding: 1rem 0;
}
.sidebar-main-menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}
.sidebar-menu-icon {
    flex: 1;
    max-width: 1.3rem;
    max-height: 1.3rem;
}
.sidebar-menu-text {
    padding: 0 1rem;
    flex: 1;
    text-decoration: none;
}
h4 {
    letter-spacing: 0.1em;
}
.bottom-container {
    flex: 2;
    overflow-y: auto;
}

.sidebar-playlists {
    list-style: none;
    padding: 0.5rem 0;
}
.sidebar-playlist-item {
    padding: 0.25rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar-playlist-name {
    text-decoration: none;
}

/*END left sidebar*/


/*Player*/

.player-row-sticky {
    width: 100%;
    height: 6rem;
    background-color: var(--mid-grey-color);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1rem;
}

.player-first-main-block,
.player-second-main-block,
.player-third-main-block {
    flex: 1;
    /* text-align: center; */
    display: flex;
}

.player-first-main-block {
    background-color: red;
}



/*END Player*/