:root {
    --white-color: #B3B3B3;
    --black-color: #040404;
    --green-color: #1DB954;
    --dark-grey-color: #1C1D23;
    --mid-grey-color: #282828;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--white-color);
    font-size: 0.9rem;
}
html {
    font-size: 14px;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:focus {
    outline: 0;
}
/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #262626;
  }
  ::-webkit-scrollbar-thumb {
    background: #404040;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #545454;
  }

/*auxiliary styles*/

.green-color {
    color: var(--green-color);
}

.display-none {
    display: none;
}
.display-flex {
    display: flex!important;
}
.burger-menu {
    display: none;
    position: absolute;
}
/*Main Container*/

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
}

/* Left Sidebar */

.left-sidebar {
    flex: 1;
    padding: 2rem;
    height: 100vh;
    background-color: var(--black-color);
    max-width: 14rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 6rem;
}

.upper-container {
    flex: 0 0 auto;
    position: relative;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid var(--mid-grey-color);
}
.sidebar-main-menu {
    list-style: none;
    padding: 1rem 0;
}
.sidebar-main-menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}
.sidebar-menu-icon {
    flex: 1;
    max-width: 1.3rem;
    max-height: 1.3rem;
}
.sidebar-menu-text {
    padding: 0 1rem;
    flex: 1;
    text-decoration: none;
}
h4 {
    letter-spacing: 0.1em;
}
.bottom-container {
    flex: 2;
    overflow-y: auto;
}

.sidebar-playlists {
    list-style: none;
    padding: 0.5rem 0;
}
.sidebar-playlist-item {
    padding: 0.25rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sidebar-playlist-name {
    text-decoration: none;
}

/*END left sidebar*/


/*Player*/

.player-row-sticky {
    width: 100%;
    height: 6rem;
    background-color: var(--mid-grey-color);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.5rem;
}

.player-first-main-block,
.player-third-main-block {
    flex: 1 1 0;
    display: flex;
}
.player-second-main-block {
    flex: 4 2 0;
}


/*left box*/

.player-first-main-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}
img.active-song-cover {
    max-width: 4rem;
}
span.player-active-song-title-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}
span.player-active-song-name {
    font-size: 0.8rem;
    font-weight: 800;
}
span.player-active-song-artist {
    font-size: 0.8rem;
    font-weight: 600;
}
a.player-heart-button {
    flex: 1;
    text-align: center;
}
i.player-heart-icon {
    font-size: 1rem;
}

/*middle box*/

.player-second-main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.player-middle-upper-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.player-middle-upper-box > a > i:hover {
    color: #fff;
}

a.player-playpause-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s all ease;
}
i.play-icon-player {
    align-self: center;
    font-size: 1rem;
    padding: 0.8rem 0.85rem;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    transition: 0.3s all ease;
}
i.play-icon-player:hover {
    border: 1px solid #fff;
    transform: scale(1.1);
}
a.player-playpause-button > i.fa-play {
    padding: 0.8rem 0.8rem 0.8rem 0.9rem;
}
.player-middle-bottom-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
span.player-timepast,
span.player-timetotal {
    flex: 1 1 auto;
    text-align: center;
}
span.player-tracker-outer {
    width: 20rem;
    flex: 20 0 auto;
    display: block;
    background-color: #5f5f5f;
    height: 3px;
    border-radius: 1.5px;
    cursor: pointer;
}
span.player-tracker-inner {
    display: block;
    background-color: var(--white-color);
    opacity: 1;
    width: 0%;
    height: inherit;
    border-radius: inherit;
    transition: 0.3s all ease;
    position: relative;
}
span.player-tracker-inner:hover {
    background-color: var(--green-color);
}



/*right box*/

.player-third-main-block {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.player-volume-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 8rem;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}
span.player-volume-tracker-outer {
    width: 100% auto;
    min-width: 4rem;
    flex: 20 0 auto;
    display: block;
    background-color: #5f5f5f;
    height: 3px;
    border-radius: 1.5px;
    cursor: pointer;
}
span.player-volume-tracker-inner {
    display: block;
    background-color: var(--white-color);
    opacity: 1;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    transition: 0.3s all ease;
    position: relative;
}
span.player-volume-tracker-inner:hover {
    background-color: var(--green-color);
}



/*END Player*/