
/*Main container with playlist*/

.main-music-block {
    flex: 2;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 6rem;
    background-color: var(--dark-grey-color);
}
.music-block-header-container {
    background: linear-gradient(135deg, var(--mid-grey-color) 0%,var(--mid-grey-color) 100%);
    width: 100%;
    padding: 3rem;
}

/*HEADER*/

.playlist-header {
    display: flex;
    color: var(--white-color);
}
.playlist-cover {
    flex: 1;
    max-width: 200px;
    color: inherit;
}
.playlist-title {
    flex: 2;
    color: inherit;
    padding-left: 1rem;
    align-items: flex-end;
    margin-top: auto;
    color: #fff;
}
.playlist-name {
    font-size: 3rem;
    font-weight: 900;
    color: inherit;
}


/*MUSIC BLOCK MAIN PLAYLIST CONTAINER*/

.music-block-playlist-container {
    background-color: var(--dark-grey-color);
}

/*-TOPBAR BUTTONS */

.playlist-topbar-buttons {
    width: 100%;
    padding: 2.5rem;
    display: flex;
    align-items: center;
}
.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.play-icon {
    display: block;
    background-color: var(--green-color);
    border-radius: 50%;
    padding: 1.3rem 1.35rem;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s all ease;
}
.play-icon:hover {
    transform: scale(1.1);
}
.heart-button {
    display: block;
    text-align: center;
    position: relative;
    margin-left: 2rem;
}
.heart-icon {
    position: relative;
    font-size: 2rem;
}
.three-dots-button {
    text-decoration: none;
    margin-left: 2rem;
}
.three-dots-icon {
    font-size: 1.2rem;
}

/*-PLAYLIST*/

.playlist-container{
    padding: 1rem 2rem;
}
.song-table {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    text-align: left;
    align-items: center;
}


.song-active {
    color: var(--green-color);
}

/*--SONG LINE*/

li.song-table {
    display: flex;
    transition: 0.2s all ease;
}
li.song-table:hover {
    background-color: var(--mid-grey-color);
    border-radius: 5px;
}

.song-active-row {
    background-color: var(--mid-grey-color);
    border-radius: 5px;
}
li.song-table > :nth-child(1) {
    flex: 1 0 1rem;
}
li.song-table > :nth-child(2) {
    flex: 1 0 1rem;
    margin-right: 0.7rem;
}
li.song-table > :nth-child(3) {
    flex: 25 10 0;
}
li.song-table > :nth-child(4) {
    flex: 20 10 0;
}
li.song-table > :nth-child(5) {
    flex: 1 0 1rem;
}
li.song-table > :nth-child(6) {
    flex: 1 0 1rem;
}
li.song-table > :nth-child(7) {
    flex: 1 0 1rem;
}

li.song-table > span {
    margin: 0.5rem 0;
}

span.song-add-to-fav,
span.song-dropdown-menu-button {
    opacity: 0;
}

/*---PLAYLIST HEADER*/

li.list-header {
    text-transform: uppercase;
    border-bottom: 1px solid var(--mid-grey-color);
    padding-bottom: 1rem;
}
li.list-header:hover {
    background-color: var(--dark-grey-color);
}
li.list-header > span {
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
}


/*---SONG TITLE BOX*/

img.song-cover-img {
    max-width: 2.2rem;
}
span.song-title {
    display: flex;
    flex-direction: column;
}
span.song-name {
    font-weight: 800;
}
span.song-author {
    font-weight: 400;
    opacity: 0.9;
}

/*END Main container with playlist*/
