/*Burger Menu for the sidebar*/

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7; }
.hamburger.is-active:hover {
    opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: var(--white-color); }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: var(--white-color);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }
.hamburger--slider .hamburger-inner {
    top: 2px;
}
.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
.hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }


/*END Burger Menu for the sidebar*/


/*All mobile devices portrait mode & iphone 5 portrait + landscape mode*/
@media (max-width: 568px) {
    /*BURGER MENU AND LEFT SIDEBAR*/
    .music-block-header-container {
        padding-top: 4rem;
    }
    .main-container {
        width: auto;
    }
    .left-sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 1rem;
        max-width: none;
        width: 100%;
        align-items: center;
    }
    .left-sidebar * {
        font-size: 1.5rem;
        font-weight: 400;
    }
    .upper-container,
    .bottom-container {
        width: 90%;
    }

    .upper-container > img {
        max-width: 10rem;
        display: block;
        margin: 0 auto;
    }
    .burger-menu {
        display: block;
        z-index: 100;
        position: absolute;
        left: 0;
    }

    /*PLAYLIST HEADER BOX*/
    .playlist-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img.playlist-cover {
        max-width: 100%;
        margin: 0.5rem 0;
    }
    img.active-song-cover {
        display: none;
    }
    .playlist-info {
        margin: 0.5rem 0 0 0;
    }


    /*PLAYLIST*/
    img.song-cover-img,
    span.song-album,
    span.list-header-album-title {
        display: none;
    }
    .song-table * {
        font-size: 1.1rem;
    }
}

/*All mobile devices portrait mode BUT iphone 5 landscape mode*/
@media (max-width: 567px){
        /*PLAYER BAR*/
        .player-row-sticky {
            flex-direction: column;
            height: 10rem;
        }
        .player-first-main-block {
            width: 100%;
            justify-content: space-between;
        }
        button.player-heart-button {
            text-align: right;
        }
        .player-second-main-block {
            justify-content: space-around;
        }
        .player-third-main-block {
            display: none;
        }
        .player-timepast,
        .player-timetotal {
            display: none;
        }
        span.player-tracker-outer {
            width: 90vw;
        }
}


/*landscape iphone 5 specific*/
@media (max-width: 568px) and (max-height: 320px) and (orientation: landscape) {

    /*BURGER MENU AND LEFT SIDEBAR*/
    .sidebar-main-menu {
        display: flex;
        flex-direction: row;
    }
    .sidebar-main-menu > li {
        margin: 1rem 0;
    }

    /*PLAYLIST HEADER BOX*/
    .playlist-header {
        flex-direction: row;
    }
    img.playlist-cover {
        width: 5rem;
    }
}
